.recommended-plugin-wrap {
	max-width: 950px;
}

.recommended-plugins-list {
	margin-left: -3%;
	margin-top: 30px;
}

.recommended-plugins-list * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.recommended-plugins-list img {
	max-width: 100%;
}

.recommended-plugin {
	position: relative;
	background: #fff;
	border: 1px solid #ddd;
	width: 30.33%;
	float: left;
	margin-left: 3%;
	margin-bottom: 35px;
}

.recommended-plugin:nth-child(3n+1) {
	clear: both;
}

.plugin-img-wrap {
	margin-top: 0;
	text-align: center;
}

.plugin-img-wrap img {
	border: 0;
	padding: 20px 20px 0;
	vertical-align: middle;
	width: 100%;
}

.version-author-info {
	padding: 10px 20px;
	font-size: 12px;
	font-style: italic;
}

.plugin-title-install {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	line-height: 26px;
	padding: 10px 15px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #fff;
	background: rgba(255, 255, 255, .65);
}

.plugin-btn-wrapper {
	-webkit-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 46px;
	padding: 10px 20px;
	background: rgba(244, 244, 244, .7);
	border-left: 1px solid rgba(0, 0, 0, .05);
}

.recommended-plugin-wrap .installing.button-primary:before {
	color: #FFF;
}

.recommended-plugin-wrap .installed.button {
	pointer-events: none;
	opacity: 0.8;
}

.item-ribbon.active {
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: #4BB543;
	color: #FFF;
	text-align: center;
}

.item-ribbon.active .dashicons-yes {
	color: #fff;
	line-height: 50px;
	font-size: 30px;
	height: auto;
	width: auto;
}

@media screen and (max-width:782px) {
	.recommended-plugin {
		width: 47%;
	}
	.recommended-plugin:nth-child(3n+1) {
		clear: none;
	}
	.recommended-plugin:nth-child(2n+1) {
		clear: none;
	}
}

@media screen and (max-width:480px) {
	.recommended-plugin {
		width: 97%;
	}
}
